:root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /* background */
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    /* circle */
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}
*{
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: center;
    align-items: self-start;
    height: 100vh;
}
.container {
    max-width: 375px;
    display: grid;
    font-family: 'Hanken Grotesk',sans-serif;

}
.first-container{
    background-image: linear-gradient(var(--Light-slate-blue) -2%, var(--Light-royal-blue) 78%);
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    padding-block: 1em;
    color: var(--White);
}
.first-container .text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-inline: 2em;
    min-height: 355px;
}
.first-container .text div{
    background-image: linear-gradient(var(--Violet-blue),var(--Persian-blue));
    width: 135px;
    height: 135px;
    border-radius: 50%;
    text-align: center;
}
.first-container .text div h1{
    margin: 0;
    margin-top: 1.05em;
}
.text #p-1{
    color: var(--Light-lavender);
    margin-bottom: 2em;
    font-weight: 700;
}
.text #p-2{
    margin-top: 0.3em;
    color: hsl(241deg 100% 89% / 42%);

}
.first-container #p-3{
    margin: 1em;
    text-align: center;
    color: var(--Light-lavender);
    line-height: 1.7em;
}
.first-container h3{
    margin-top: 1em;
    margin-bottom: 0;
    font-size: x-large;
    font-weight: 100;
}
.second-container{
    margin-inline: 1.3em;
    margin-block: 1em;
}

#Reaction{
    background-color: hsl(0deg 100% 45% / 5%);
    color: var(--Light-red);
}
#Memory{
    background-color: hsl(39deg 100% 45% / 5%);
    color: var(--Orangey-yellow);
}
#Verbal{
    background-color: hsl(166deg 100% 45% / 5%);
    color: var(--Green-teal);
}
#Visual{
    background-color: hsl(234deg 85% 45% / 5%);
    color: var(--Cobalt-blue);
}
.icon{
    display: flex;
    padding-inline: 1em;
    padding-block: 0.8em;
    border-radius: 0.5em;
    margin-block: 0.9em;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    margin-right: 0.5em;
}
.icon >span{
    display: inline-block;
    color: #000;
    font-weight: 700;
}
.icon > span span{
    font-weight: 100;
}
#ol p{
    font-weight: 700;
}
a{
    display: block;
    background-color: var(--Dark-gray-blue);
    color: var(--White);
    text-align: center;
    padding-inline: 1em;
    padding-block: 0.8em;
    text-decoration: none;
    border-radius: 2em;
}
.second-container a:hover{
    background-image: linear-gradient(var(--Light-slate-blue) -2%, var(--Light-royal-blue) 78%);
}

@media (min-width:768px){
    main{
        align-items: center;
    }
    .container{
        grid-template-columns: 1fr 1fr;
        max-width: 610px;
        min-height: 425px;
        box-shadow: 0.5em 0.5em 1em #0000001a;
        border-radius: 1.5em;
    }
    .first-container{
        border-radius: 1.5em;
        justify-content: center;
        height: 100%;
        display: flex;
    }
    .first-container h4{
        font-weight: 800;
    }
    .first-container #p-3{
        margin: unset;
        margin-top: 1.5em;
        font-size:1.12rem;
    }
    .second-container a{
        margin-top: 2.5em;
    }
}
